In [1]:
import pymysql

In [4]:
m_host='sh-cynosdbmysql-grp-75qwodo8.sql.tencentcdb.com'
m_port =29563
m_user='capstone'
m_password='capstone123!!!'
m_db='circle_database_version3'

In [6]:
#dim_vehicle
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `dim_vehicle` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `vin` char(32) NOT NULL,
  `nickname` varchar(128) DEFAULT NULL,
  `make` varchar(32) DEFAULT NULL,
  `model` varchar(32) DEFAULT NULL,
  `year` year(4) DEFAULT NULL,
  unique(`vin`),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [7]:
#dim_drive
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `dim_drive` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `vehicle_id` int(11) unsigned NOT NULL,
  `file_prefix` varchar(128) DEFAULT NULL,
  `video_path` varchar(255) DEFAULT NULL,
  `systime_start` double(16,6) DEFAULT NULL,
  `systime_end` double(16,6) DEFAULT NULL,
  `latitude_start` float(10,6) DEFAULT NULL,
  `longitude_start` float(10,6) DEFAULT NULL,
  `import_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `dive_vehicle_id` (`vehicle_id`),
  CONSTRAINT `dim_drive_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `dim_vehicle` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [8]:
#fact_gps_message
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_gps_message` (
  `drive_id` int(11) unsigned NOT NULL,
  `vehicle_id` int(11) unsigned NOT NULL,
  `systime` double(16,6) NOT NULL,
  `gpstime` double(16,6) DEFAULT NULL,
  `latitude` float(10,6) DEFAULT NULL,
  `longitude` float(10,6) DEFAULT NULL,
  `altitude` float(10,6) DEFAULT NULL,
  PRIMARY KEY (`systime`,`drive_id`) USING BTREE,
  KEY `gps_drive_id` (`drive_id`),
  KEY `gps_vehicle id` (`vehicle_id`),
  CONSTRAINT `gps_drive_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `gps_vehicle id` FOREIGN KEY (`vehicle_id`) REFERENCES `dim_vehicle` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [9]:
#fact_speed
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_speed` (
  `drive_id` int(11) unsigned NOT NULL,
  `elapsed_time` double(16,6) unsigned NOT NULL,
  `speed` float(10,2) DEFAULT NULL,
  PRIMARY KEY (`elapsed_time`,`drive_id`) USING BTREE,
  KEY `speed_vehicle_id` (`drive_id`),
  CONSTRAINT `speed_drive_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [10]:
#fact_lead_distance
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_lead_distance` (
  `drive_id` int(11) unsigned NOT NULL,
  `elapsed_time` double(16,6) unsigned NOT NULL,
  `lead_distance` int(11) DEFAULT NULL,
  PRIMARY KEY (`elapsed_time`,`drive_id`) USING BTREE,
  KEY `lead_distance_vehicle_id` (`drive_id`),
  CONSTRAINT `lead_distance_drive_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [11]:
#fact_lead_distance
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_acceleration` (
  `drive_id` int(11) unsigned NOT NULL,
  `elapsed_time` double(16,6) unsigned NOT NULL,
  `acceleration` float(10,2) DEFAULT NULL,
  PRIMARY KEY (`elapsed_time`,`drive_id`) USING BTREE,
  KEY `acceleration_vehicle_id` (`drive_id`),
  CONSTRAINT `acceleration_drive_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [12]:
#fact_relative_vel
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_relative_vel` (
  `drive_id` int(11) unsigned NOT NULL,
  `elapsed_time` double(16,6) unsigned NOT NULL,
  `relative_vel` float(10,2) DEFAULT NULL,
  PRIMARY KEY (`elapsed_time`,`drive_id`) USING BTREE,
  KEY `acceleration_vehicle_id` (`drive_id`),
  CONSTRAINT `relative_vel_drive_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [13]:
#fact_acc_status
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_acc_status` (
  `drive_id` int(11) unsigned NOT NULL,
  `elapsed_time` double(16,6) unsigned NOT NULL,
  `acc_status` int(11) DEFAULT NULL,
  PRIMARY KEY (`elapsed_time`,`drive_id`) USING BTREE,
  KEY `acc_status_vehicle_id` (`drive_id`),
  CONSTRAINT `acc_status_drive_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [9]:
#fact_drive_data
db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
cursor = db.cursor()
sql = """CREATE TABLE `fact_drive_data` (
  `drive_id` int(11) unsigned NOT NULL,
  `vehicle_id` int(11) unsigned NOT NULL,
  `elapsed_time` double(16,1) unsigned NOT NULL,
  `latitude` float(10,6) DEFAULT NULL,
  `longitude` float(10,6) DEFAULT NULL,
  `altitude` float(10,6) DEFAULT NULL,
  `speed` float(10,2) DEFAULT NULL,
  `lead_distance` int(11) DEFAULT NULL,
  `acceleration` float(10,2) DEFAULT NULL,
  `relative_vel` float(10,2) DEFAULT NULL,
  `acc_status` int(11) DEFAULT NULL,
  PRIMARY KEY (`elapsed_time`,`drive_id`) USING BTREE,
  KEY `fact_drive_data_drive_id` (`drive_id`),
  KEY `fact_drive_data_vehicle id` (`vehicle_id`),
  CONSTRAINT `fact_drive_data_id` FOREIGN KEY (`drive_id`) REFERENCES `dim_drive` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fact_drive_data id` FOREIGN KEY (`vehicle_id`) REFERENCES `dim_vehicle` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
)ENGINE=InnoDB DEFAULT CHARSET=utf8;"""
cursor.execute(sql)
db.close()

In [15]:
# db = pymysql.connect(host=m_host,port =m_port,user=m_user,password=m_password,db=m_db)
# cursor = db.cursor()
# sql = """drop table dim_drive"""
# cursor.execute(sql)
# db.close()

In [8]:
# #creat database
# db = pymysql.connect(host='sh-cynosdbmysql-grp-75qwodo8.sql.tencentcdb.com',port =29563,user='capstone',password='capstone123!!!')
# cursor = db.cursor()
# sql = "CREATE DATABASE IF NOT EXISTS circle_database_version3" 
# cursor.execute(sql)

1